* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #ffe000, #799f0c);
	min-height: 100vh;
}

.container {
	width: 400px;
	background-color: #fff;
	margin: 100px auto;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	
	
	
}
.form{
	padding: 10px 20px 10px 0;
	display: flex;
	border-bottom: 1px solid #aaa;
	width: 100%;
}
input{
	width: 100%;
	outline: none;
	border: none;
	padding: 0 20px;
	font-size: 24px;
	color: #444;
}
button{
	outline: none;
	border: none;
	background-color: yellowgreen;
	padding: 5px 15px;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li{
	border-top: 1px solid #e5e5e5;
	cursor: pointer;
	font-size: 22px;
	padding: 15px 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.todos li i {
	color: #aaa;
	opacity: 0;
}
li:hover i {
	opacity: 1;
}
span {
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 10px;
}

li.completed > span{
	color: #b6b6b6;
	text-decoration: line-through;
}